.navbar {
  /* background: var(--blue-theme-nav-background-color); */
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  height: 80px;
  z-index: 2;
}

.navbar__container {
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 0px 20px;
}

.navbar__container-logo img {
  width: 120px;
}

.navbar__container-menu {
  display: flex;
  list-style: none;
  text-align: center;
}

.navbar__container-menu--item {
  line-height: 40px;
  margin-right: 2.6rem;
  font-size: 2.2rem;
}

.navbar__container-menu--item::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: all 0.5s ease;
}

.navbar__container-menu--item:hover::after {
  width: 100%;
  background: var(--text-header-theme-main-color);
}

.navbar__container-menu--item---links {
  color: var(--text-header-theme-main-color);
  text-decoration: none;
  padding: 0.5rem;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar__container-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navbar__container-menu.active {
    background: var(--blue-theme-nav-background-color);
    left: 0px;
    opacity: 1;
  }

  .navbar__container-menu--item {
    border-top: 1px solid var(--text-header-theme-main-color);
    margin: 0px;
    padding: 28px 10px;
  }

  .nav-icon {
    display: block;

    color: var(--text-header-theme-main-color);
    padding-right: 20px;
  }
}
