@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500;600;700;800;900&display=swap");
:root {
  --black-theme-background-color: #000814;
  --white-theme-sub-text-color: #fefefe;
  --blue-theme-nav-background-color: #001d3d;
  --text-header-theme-main-color: #ffc300;
  --hover-text-theme-background-color: #ffd60a;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Advent Pro", sans-serif;
}

html {
  font-size: 62.5% !important;
  height: 100%;
}

body {
  background: var(--black-theme-background-color);
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.App__main-page-content {
  height: calc(100% - 80px);
}
